<!doctype html>
<html>
<head>
    {{ campaign.tags|raw }}
</head>
<body>
    <img id="track" src="/l/count/{{ link.id }}" style="width: 1px; height: 1px;" />
    <script type="text/javascript">
        var track = document.getElementById('track');
        var redir = function() {
            window.location = '{{ redir_link|raw|escape('js') }}'
        };
        track.onload = redir;
        track.onerror = redir;
        setTimeout(function(){redir();}, 1000);
    </script>
</body>
</html>