{% extends "template.html.twig" %}
{% block title %}Enlist{% endblock %}
{% block content %}
    <form method="post" class="crud">
        <input type="email" name="email" placeholder="Email" required />
        <input type="text" name="first_name" placeholder="First Name" required />
        <input type="text" name="last_name" placeholder="Last Name" required />
        <input type="submit" value="Enlist" />
    </form>
{% endblock %}