{% extends "template.html.twig" %}
{% block title %}Enlist{% endblock %}
{% block content %}
    <form method="post" style="text-align: center">
        <input type="submit" style="padding: 2rem 5rem" value="Enlist with Facebook" />
    </form>
{% endblock %}