{% extends "template.html.twig" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form method="post">
        <input type="email" required name="email" placeholder="you@{{ global_conifg.domain }}" />
        <input type="password" required name="password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
{% endblock %}