<!doctype html>
<html>
<head>
    <title>
        {% if block('title') %}
            {{ block('title') }} //
        {% endif %}
        WarRoom
    </title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    <header>
        <h1>WarRoom</h1>
        <nav>
            <ul>
                {% if me %}
                    <li><a href="/campaigns">Campaigns</a></li>
                {% else %}
                    <li><a href="/login">Enlist</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="content">
        {{ block('content') }}
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    {{ block('javascript') }}
    <script type="text/javascript" src="//use.typekit.net/vvn8tfj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>