header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
  header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0; }
  header h1 {
    float: left;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase; }
  header nav {
    float: right; }
    header nav ul {
      padding: 0; }
      header nav ul li {
        list-style-type: none;
        display: inline-block;
        font-family: "proxima-nova", sans-serif;
        text-transform: uppercase; }

section.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "inconsolata", monospace; }
  section.content h1, section.content h2, section.content h3 {
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase; }
  section.content a.new, section.content .toggle_sounds a, section.content .join input[type="submit"] {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 3px solid #000;
    background: #fff;
    color: #000;
    padding: 0.4rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: "inconsolata", monospace;
    font-size: 1rem; }
    section.content a.new:hover, section.content .toggle_sounds a:hover, section.content .join input[type="submit"]:hover {
      color: #fff;
      background: #000; }
  section.content .mine {
    width: 60%;
    margin-right: 5%;
    float: left; }
  section.content .campaign {
    width: 35%;
    float: left; }
  section.content .campaign.display {
    width: 100%; }
