{% extends "template.html.twig" %}
{% block title %}Campaigns{% endblock %}
{% block content %}
    <h1>My Running Campaigns</h1>
    <ul>
        {% for campaign in my_campaigns %}
            <li>
                <a href="/campaigns/view/{{ campaign.id }}">{{ campaign.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Other Running Campaigns</h1>
    <ul>
        {% for campaign in other_campaigns %}
            <li>
                <a href="/campaigns/view/{{ campaign.id }}">{{ campaign.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/campaigns/new">Create New</a>
{% endblock %}