{% extends "template.html.twig" %}
{% block title %}Campaigns{% endblock %}
{% block content %}
    <h1>Create a New Campaign</h1>
    <form method="post">
        <input type="url" required name="link" placeholder="Link" />
        <input type="submit" value="Create" />
    </form>
{% endblock %}